project:
  type: website
  output-dir: docs

website:
  title: "Foxmir Blog"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

listing:
  contents: publish
  sort: "date desc"
  type: default
  categories: true
